[user]
  name              = marslo
  email             = marslo@domain.com
[gitreview]
  username          = marslo
  remote            = origin
[push]
  default           = matching
  # disable local tags push to remote
  followTags        = false
[log]
  follow            = true
  # default is `default`, which is `EEE MMM dd HH:mm:ss yyyy Z`
  date              = format:%Y-%m-%d %H:%M:%S %z %A
  showSignature     = false
[diff]
  rename            = copy
  submodule         = log
  wsErrorHighlight  = all
  renamelimit       = 10000
  # external        = difft
  colorMoved        = zebra
  colorMovedWS      = allow-indentation-change
# inspired from tpope: https://github.com/tpope/tpope/blob/master/.gitconfig
[diff "ruby"]
  funcname          = "^ *\\(\\(def\\) .*\\)"
[diff "image"]
  textconv          = identify
[diff "bin"]
  textconv          = hexdump -v -C
[diff "stylus-json"]
  textconv          = ~/.marslo/gitconfig.d/bin/stylus-expand.sh
  cachetextconv     = true
[difftool "difftastic"]
  cmd               = difft "$LOCAL" "$REMOTE"
# brew install git-delta [--HEAD]
[delta]
  navigate                 = true
  line-numbers             = true
  side-by-side             = false
  wrap-max-lines           = unlimited
  hyperlinks               = false
  max-line-length          = 0
  syntax-theme             = Catppuccin Mocha
  minus-style              = syntax
  minus-emph-style         = syntax "#45293440"
  plus-style               = syntax
  plus-emph-style          = syntax "#2c3b3480"
  line-numbers-minus-style = "#f38ba8"
  line-numbers-plus-style  = "#a6e3a1"
  line-numbers-zero-style  = "#6c7086"
  zero-style               = syntax
  hunk-header-style        = omit
  file-style               = bold "#89b4fa"
  file-decoration-style    = "#585b70" ul
[core]
  editor            = nvim
  # pager           = diff-highlight | less $LESS -F -x1,5 -X
  pager             = delta
  whitespace        = fix,-indent-with-non-tab,trailing-space,cr-at-eol,tab-in-indent
  autocrlf          = input
  precomposeUnicode = true
  ignorecase        = false
  excludesfile      = ~/.gitignore_global
  eol               = lf
  safecrlf          = false
  attributesfile    = ~/.gitattributes
  fileMode          = true
  sshCommand        = ssh -o HostKeyAlgorithms=+ssh-rsa -o PubkeyAcceptedKeyTypes=+ssh-rsa
  abbrev            = 8
[pager]
  branch            = less -FRXK
  # diff            = diff-highlight | less
  # log             = diff-highlight | less -FRXK
  diff              = delta
  log               = delta
  # decolorize | bat - to bypass the gitcolors settings ── requires `bat cache --build` to load the syntax highlighting for `glogsmart`
  show              = "sed 's/\\x1b\\[[0-9;]*m//g' | bat --language 'git show' --plain --theme 'Catppuccin Mocha'"
  difftool          = true
[interactive]
  diffFilter        = delta --color-only
[gui]
  fontdiff          = -family Consolas -size 11 -weight normal -slant roman -underline 0 -overstrike 0
[pretty]
  custom            = "%C(magenta)%h%C(auto)%d %C(yellow)%ar %C(green)%s %C(yellow)(%an)"
  #                                │        │            │            │             └─ author name
  #                                │        │            │            └─ message
  #                                │        │            └─ date (relative)
  #                                │        └─ decorations (branch, heads or tags)
  #                                └─ hash (abbreviated)

[status]
  submoduleSummary  = true
[fetch]
  prune             = true
  pruneTags         = true
[branch]
  autosetuprebase   = always
  sort              = -committerdate
[rerere]
  enabled           = true
[commit]
  template          = ~/.marslo/gitconfig.d/.gitcommit-template
[http]
  sslVerify         = false
  postBuffer        = 1048576000
  cookiefile        = ~/.marslo/gitconfig.d/.gitcookies
  # sslBackend      = openssl
[advice]
  detachedHead      = false
  objectNameWarning = false
[pull]
  rebase            = true
[rebase]
  autoStash         = true
[init]
  defaultBranch     = main
  templatedir       = ~/.git-templates
[blame]
  # https://gist.github.com/BuonOmo/ce45b51d0cefe949fd0c536a4a60f000
  # date            = relative
  date              = "format:%Y-%m-%d %H:%M:%S %p"
  coloring          = highlightRecent
  showRoot          = true
[help]
  autocorrect       = immediate
[merge]
  renamelimit       = 10000
  ff                = only

[trailer "sign"]
  key               = Signed-off-by
  ifmissing         = add
  ifexists          = doNothing
  command           = echo "$(git config user.name) <$(git config user.email)>"

[filter "lfs"]
  required          = true
  clean             = git-lfs clean -- %f
  smudge            = git-lfs smudge -- %f
  process           = git-lfs filter-process

[safe]
  directory         = /opt/FontPatcher

[include]
  path              = ~/.marslo/gitconfig.d/credential
  path              = ~/.marslo/gitconfig.d/gitalias
  path              = ~/.marslo/gitconfig.d/gitcolors
  # ────────────── git ssh-set / https-set to enable or disable ───────────────
  path              = ~/.marslo/gitconfig.d/credential.ssh
  # path              = ~/.marslo/gitconfig.d/credential.https
  # ────────────── git ssh-set / https-set to enable or disable ───────────────
  # ─ disable due to pre-commit hook will fail if the account routing info is missing ─
  # path              = ~/.marslo/gitconfig.d/routing

# vim:tabstop=2:softtabstop=2:shiftwidth=2:expandtab:filetype=gitconfig:
