[user]
  name              = marslo
  email             = marslo@domain.com
[gitreview]
  username          = marslo
  remote            = origin
[push]
  default           = matching
  # disable local tags push to remote
  followTags        = false
[log]
  follow            = true
  # default is `default`, which is `EEE MMM dd HH:mm:ss yyyy Z`
  date              = format:%Y-%m-%d %H:%M:%S %z %A
# [remote "origin"]
#   fetch           = +refs/heads/*:refs/remotes/origin/*
[diff]
  rename            = copy
  submodule         = log
  wsErrorHighlight  = all
  renamelimit       = 10000
# inspired from tpope: https://github.com/tpope/tpope/blob/master/.gitconfig
[diff "ruby"]
  funcname          = "^ *\\(\\(def\\) .*\\)"
[diff "image"]
  textconv          = identify
[diff "bin"]
  textconv          = hexdump -v -C
[core]
  editor            = nvim
  pager             = diff-highlight | less $LESS -F -x1,5 -X
  whitespace        = fix,-indent-with-non-tab,trailing-space,cr-at-eol,tab-in-indent
  autocrlf          = input
  precomposeUnicode = true
  ignorecase        = false
  excludesfile      = ~/.gitignore_global
  eol               = lf
  safecrlf          = warn
  attributesfile    = ~/.gitattributes
  fileMode          = true
  sshCommand        = ssh -o HostKeyAlgorithms=+ssh-rsa -o PubkeyAcceptedKeyTypes=+ssh-rsa
[pager]
  branch            = less -FRXK
  diff              = diff-highlight | less
  log               = diff-highlight | less -FRXK
  show              = diff-highlight | less -FRXK
[gui]
  fontdiff          = -family Consolas -size 11 -weight normal -slant roman -underline 0 -overstrike 0
[pretty]
  custom            = "%C(magenta)%h%C(red)%d %C(yellow)%ar %C(green)%s %C(yellow)(%an)"
  #                                │        │            │            │             └─ author name
  #                                │        │            │            └─ message
  #                                │        │            └─ date (relative)
  #                                │        └─ decorations (branch, heads or tags)
  #                                └─ hash (abbreviated)

[status]
  submoduleSummary  = true
[fetch]
  prune             = true
  pruneTags         = true
[branch]
  autosetuprebase   = always
  sort              = -committerdate
[rerere]
  enabled           = true
[commit]
  template          = ~/.marslo/gitconfig.d/.gitcommit-template
[http]
  sslVerify         = false
  postBuffer        = 1048576000
  cookiefile        = ~/.marslo/gitconfig.d/.gitcookies
  # sslBackend      = openssl
[advice]
  detachedHead      = false
  objectNameWarning = false
[pull]
  rebase            = true
[rebase]
  autoStash         = true
[init]
  defaultBranch     = main
  templatedir       = ~/.git-templates
[blame]
  # https://gist.github.com/BuonOmo/ce45b51d0cefe949fd0c536a4a60f000
  # date            = relative
  date              ="format:%Y-%m-%d %H:%M:%S %p"
  coloring          = highlightRecent
  showRoot          = true
[help]
  autocorrect       = immediate
[merge]
  renamelimit       = 10000

[trailer "sign"]
  key               = Signed-off-by
  ifmissing         = add
  ifexists          = doNothing
  command           = echo \"$(git config user.name) <$(git config user.email)>\"

[filter "lfs"]
  required          = true
  clean             = git-lfs clean -- %f
  smudge            = git-lfs smudge -- %f
  process           = git-lfs filter-process

[safe]
  directory         = /opt/FontPatcher

[include]
  path              = ~/.marslo/gitconfig.d/credential
  path              = ~/.marslo/gitconfig.d/gitalias
  path              = ~/.marslo/gitconfig.d/gitcolors
  path              = ~/.marslo/gitconfig.d/credential.ssh
  ## ------ set if ssh is unstable ------ ##
  # path              = ~/.marslo/gitconfig.d/credential.https

# vim:tabstop=2:softtabstop=2:shiftwidth=2:expandtab:filetype=gitconfig:foldmethod=marker:
