# yamllint disable rule:indentation
---
exclude: '^(.*/screenfetch-dev|.*/gitalias|.*/\.vault/.*|\.signingmanager/.*|.*\.current|.*colors?)$'

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: ^(.*/merge\.sh|\.marslo/gitconfig.*|\.signingmanager/.*')$
      - id: end-of-file-fixer
        name: End Of File Fixer
        exclude: ^(.*/merge\.sh|\.marslo/gitconfig.*|\.signingmanager/.*')$
      - id: check-yaml
        name: Check YAML
        args: ["--unsafe"]
      - id: check-json
        name: Check JSON
        exclude: ^\.config/nvim/coc-settings\.json$
      - id: check-merge-conflict
        name: Check Merge Conflict
      - id: check-case-conflict
        name: Check Case Conflict
        exclude: ^(.*/merge\.sh|\.marslo/gitconfig.*)$
      - id: mixed-line-ending
        name: Mixed Line Ending
        args: ["--fix=lf"]
        exclude: ^(.*/merge\.sh|\.marslo/gitconfig.*|.*/vimrc.d/shortcuts)$

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 26.1.0
    hooks:
      - id: black
        name: Python Black
        language_version: python3

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.6
    hooks:
      - id: forbid-crlf
        name: Forbid CRLF Line Endings
      - id: remove-tabs
        name: Remove Tabs (2 spaces)
        args: [--whitespaces-count, '2']
        files: '\.(bash|sh|groovy|yaml|yml|js|json|ini|cfg|txt|md)$'
      - id: remove-tabs
        name: Remove Tabs (4 spaces)
        args: [--whitespaces-count, '4']
        files: '\.py$'

  - repo: https://github.com/crate-ci/typos
    rev: v1.43.5
    hooks:
      - id: typos
        name: Typos
        args: ['--write-changes', '--force-exclude']
