[Desktop Entry]
Version=1.0
X-Ubuntu-Gettext-Domain=activity-log-manager

Name=Activity Log Manager
GenericName=Activity Log Manager
Comment=Configure what gets logged in your Zeitgeist activity log
X-Ubuntu-Software-Center-Name=Activities and Privacy Manager Tool


Type=Application
Exec=activity-log-manager
Icon=activity-log-manager

Categories=GNOME;GTK;Utility;
NotShowIn=Unity;
