[Desktop Entry]
Name=Online Accounts
Comment=Online account credentials and settings
Exec=credentials-preferences
Icon=credentials-preferences
Terminal=false
Type=Application
StartupNotify=true
NotShowIn=Unity
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-PersonalSettings;
X-Ubuntu-Gettext-Domain=credentials-control-center
