[Desktop Entry]
Name=Online Accounts
Comment=Online account credentials and settings
Exec=gnome-control-center credentials
Icon=credentials-preferences
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-GNOME-PersonalSettings;
X-GNOME-Settings-Panel=credentials
X-Ubuntu-Gettext-Domain=credentials-control-center
