[Desktop Entry]
Name=Background
Comment=Change the background
Exec=gnome-control-center background
Icon=preferences-desktop-wallpaper
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-GNOME-PersonalSettings
OnlyShowIn=GNOME;
X-GNOME-Settings-Panel=background
# Translators: those are keywords for the background control-center panel
Keywords=Wallpaper;Screen;Desktop;
X-Ubuntu-Gettext-Domain=gnome-control-center-2.0
