[Desktop Entry]
Name=Appearance
Comment=Change the background and the theme
Exec=gnome-control-center unity-appearance
Icon=preferences-desktop-wallpaper
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-GNOME-PersonalSettings
OnlyShowIn=Unity;
X-GNOME-Settings-Panel=unity-appearance
# Translators: those are keywords for the appearance control-center panel
Keywords=Wallpaper;Background;Screen;Desktop;Theme;Appearance;Launcher;Unity;Menus;
X-Ubuntu-Gettext-Domain=gnome-control-center-unity
