[Desktop Entry]
Name=System Log
Comment=View or monitor system log files
Keywords=logs;debug;error;
Exec=gnome-system-log-pkexec
Icon=logview
Terminal=false
Type=Application
StartupNotify=false
Categories=GTK;GNOME;System;Monitor;
NotShowIn=KDE;
X-GNOME-DocPath=gnome-system-log/gnome-system-log.xml
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-utils
X-GNOME-Bugzilla-Component=logview
X-GNOME-Bugzilla-Version=3.8.1
X-Ubuntu-Gettext-Domain=gnome-system-log
