[Desktop Entry]
Name=Keyboard
Comment=Change keyboard settings
Exec=gnome-control-center keyboard
Icon=input-keyboard
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;HardwareSettings;X-GNOME-Settings-Panel;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=keyboard
X-GNOME-Bugzilla-Version=3.6.3
X-GNOME-Settings-Panel=keyboard
# Translators: those are keywords for the keyboard control-center panel
Keywords=Shortcut;Repeat;Blink;
X-Ubuntu-Gettext-Domain=gnome-control-center-2.0
