[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Account authentication
Comment=Login to online accounts
Exec=/usr/lib/i386-linux-gnu/signon-ui/browser-process
Icon=
Type=Application
Terminal=false
NoDisplay=true
X-Ubuntu-Gettext-Domain=signon-ui
