[Desktop Entry]
Name=Ubuntu One
Comment=Configure and manage your Ubuntu One account
Comment[af]=Verstel en bestuur u Ubuntu One-rekening
Comment[ar]=اضبط وأدر حسابك على أبونتو ون
Comment[ast]=Configura y xestiona la to cuenta d'Ubuntu One
Comment[az]=Ubuntu One hesabını yaradın və idarə edin
Comment[be]=Наладка і кіраванне вашым акаўнтам Ubuntu One
Comment[bn]=আপনার উবুন্টু ওয়ান অ্যাকাউন্ট পরিচালনা এবং কনফিগার করুন
Comment[bs]=Podesite i upravljajte svojim nalogom na Ubuntu One
Comment[ca]=Configureu i gestioneu el vostre compte de l'Ubuntu One
Comment[ca@valencia]=Configureu i gestioneu el vostre compte de l'Ubuntu One
Comment[cs]=Nastavit a spravovat účet Ubuntu One
Comment[csb]=Kònfigùracjô ë sprôwianié kòntã Ubuntu One
Comment[cy]=Cyflunio a rheoli dy gyfri Ubuntu One
Comment[da]=Konfigurér og håndter din Ubuntu One-konto
Comment[de]=Ihr »Ubuntu One«-Konto einrichten und verwalten
Comment[el]=Ρυθμίστε και διαχειριστείτε το λογαριασμό σας στο Ubuntu One
Comment[en_AU]=Configure and manage your Ubuntu One account
Comment[en_CA]=Configure and manage your Ubuntu One account
Comment[en_GB]=Configure and manage your Ubuntu One account
Comment[eo]=Agordi kaj administri vian konton de Ubuntu Unu
Comment[es]=Configure y gestione su cuenta de Ubuntu One
Comment[et]=Ubuntu One'i konto seadistamine ja haldamine
Comment[eu]=Konfiguratu eta kudeatu zure Ubuntu One kontua
Comment[fa]=حساب اوبونتو وان خود را مدیریت و پیکربندی کنید
Comment[fi]=Hallitse ja muokkaa Ubuntu One -tiliäsi
Comment[fil]=I-configure at pamahalaan ang iyong Ubuntu One account
Comment[fo]=Samanset og og stjórna tygara Ubuntu One kontu
Comment[fr]=Configurer et gérer votre compte Ubuntu One
Comment[gd]=Rèiteachadh agus stiùireadh do Chunntas Ubuntu One
Comment[gl]=Configure e xestione a súa conta de Ubuntu One
Comment[he]=הגדרה וניהול של חשבון ה־Ubuntu One שלך
Comment[hi]=अपने उबुन्टू एकल खाता को विन्यास तथा प्रबंध करें
Comment[hr]=Podesite i upravljajte svojim Ubuntu One korisničkim računom.
Comment[hu]=Ubuntu One fiókok beállítása és kezelése
Comment[id]=Jelaskan dan atur akun Ubuntu One Anda
Comment[is]=Stilla og stjórna Ubuntu One notandaaðganginum þínum
Comment[it]=Configura e gestisce il proprio account Ubuntu One
Comment[ja]=Ubuntu One アカウントの設定と管理
Comment[kk]=Өзіңіздің Ubuntu One тіркемелерін өзгерту мен басқару
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ និង​គ្រប់គ្រង​គណនី​អ៊ូប៊ុនទូ​​​វ៉ាន់ (Ubuntu One)
Comment[ko]=우분투원 계정의 관리 및 설정
Comment[ku]=Hesabê xwe yê One Ubuntu yê nujen bike û birêva be
Comment[lt]=Konfigūruokite ir tvarkykite savo Ubuntu One paskyrą
Comment[lv]=Konfigurējiet un pārvaldiet savu Ubuntu One kontu
Comment[mhr]=Ubuntu One аккаунтын келыштарымаш да виктарымаш
Comment[ms]=Konfigur dan urus akaun Ubuntu One anda
Comment[my]=သင့် Ubuntu One အကောင့်အား ပြင်ဆင်၊ ထိန်းသိမ်းပါ။
Comment[nb]=Sett opp og administrer din Ubuntu One-konto
Comment[nl]=Uw Ubuntu One-account instellen en beheren
Comment[nn]=Set opp og administrer Ubuntu One-kontoen din.
Comment[oc]=Configuratz e gerissètz vòstre compte Ubuntu One
Comment[pa]=ਆਪਣਾ ਉਬਤੂੰ ਵਨ ਅਕਾਊਂਟ ਬਣਾਉ ਅਤੇ ਦੇਖਭਾਲ ਕਰੋ
Comment[pl]=Konfiguruje i zarządza kontem usługi Ubuntu One
Comment[pt]=Configure e administre a sua conta Ubuntu One
Comment[pt_BR]=Configure e gerencie sua conta do Ubuntu One
Comment[ro]=Configurați și administrați contul Ubuntu One
Comment[ru]=Настройка учётной записи Ubuntu One
Comment[shn]=ၶိုင်ပွင် မႄးသၢင်ႈ ဢၼ်ပဵၼ် ဢၶွင့် Ubuntu One ၸဝ်ႈၵဝ်ႇ
Comment[sk]=Nastavujte a spravujte váš Ubuntu One účet
Comment[sl]=Nastavite in upravljajte s svojim računom Ubuntu One
Comment[sq]=Konfiguro dhe menaxho llogarinë tënde të Ubuntu One
Comment[sr]=Подесите и управљајте вашим Убунту један налогом
Comment[sv]=Konfigurera och hantera ditt Ubuntu One-konto
Comment[ta]=உங்களின் உபுண்டு ஒன்று கணக்கைக் கட்டமை மற்றும் நிர்வகி
Comment[te]=మీ ఉబుంటు వన్ ఖాతను స్వరూపించి నిర్వహించండి
Comment[th]=ตั้งค่าและจัดการบัญชี Ubuntu One ของคุณ
Comment[tr]=Ubuntu One hesabınızı yapılandırın ve yönetin
Comment[ug]=‏Ubuntu One ھېسابىڭىزنى سەپلەڭ ۋە باشقۇرۇڭ
Comment[uk]=Налаштування та керування обліковим записом Ubuntu One
Comment[uz]=Ubuntu One ҳисобингизни мослаш ва бошқариш
Comment[vi]=Cấu hình và quản lý tài khoản Ubuntu One của bạn
Comment[zh_CN]=配置、管理您的 Ubuntu One 账户
Comment[zh_HK]=設定並管理您的 Ubuntu One 帳號
Comment[zh_TW]=設定並管理您的 Ubuntu One 帳號
Exec=ubuntuone-control-panel-qt
Icon=ubuntuone
Terminal=false
Type=Application
OnlyShowIn=GNOME;
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-PersonalSettings
StartupNotify=true
X-Ayatana-Appmenu-Show-Stubs=False
